
.color-form{
    background-image: linear-gradient(359deg, #fda1c6 10%, #fff6f9 90%);
}

.formulario{
    margin-left: 43%;
    padding-bottom: 6%;
    margin-top: 10%;
    .form1{
width: 20%;

        &:focus{
            background-color: $paleta1;
            
        }
    }
    .form2{
        width: 40%;
        &:focus{
            background-color: $paleta1;
        }
    }
    .col-text{
        &:focus{
            background-color: $paleta1;
        }
    }
}