.main {
    &__galeria1_seccion1 {
      .imagen-inicio {
        width: 20%;
      }
    }
    &__galeria1_seccion2 {
      .imagen-inicio {
        width: 20%;
      }
    }
  }
  
  //Galería de Imágenes
  
  .titulo {
    margin-left: 44%;
    color: $paleta3;
    @extend %basePalabras;
  }


.item-container{
  display: inline-flex;
}

.div-texto{
  padding-left: 5%;
}


#cartContainer{
   
 
  img{
      
        width: 180px;
        border-radius: 0.5em;
      }
    
    }
  
  

#productContainer{
  div{
   width: 50%;
  }
}

