nav {
    .container-fluid {
      text-decoration: none;
      list-style: none;
  
      .navbar-toggler {
        background-color: $paleta3;
        color: $paleta1;
      }
      div {
        .navbar-brand {
          text-decoration: none;
          font-family: $fuentePred;
          @include fontStyle(large, 700, none, 1%);
  
          &:hover {
            background-color: rgb(253, 168, 228);
            color: $paleta5;
            border-radius: 40%;
          }
        }
  
        
          .logo-carrito {
            width: 25px;
            text-decoration: none;
            list-style: none;
            position: relative;
          }
        
      }
    }
  }
  